@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: 248 250 252;
  --card: 255 255 255;
  --text: 15 23 42;
}

.dark {
  --bg: 2 6 23;        /* deep blue-black */
  --card: 8 15 40;     /* neon dark panels */
  --text: 226 232 240; /* soft white */
}

body {
  background-color: rgb(var(--bg));
  color: rgb(var(--text));
}
